.App {
  text-align: center;
  vertical-align: center;
}

.button{
  width:20%;
  height:20%;
  margin:0px;
}

.score{
  font-size: 30px;
}

.upgrades-container{
  margin:auto;
  margin-top:50px;
  border: 2px solid white;
  width:300px;
}

/* .game-section{
   display: inline-block;
} */
